@charset "uft-8";

.dropdown-menu{
    text-align: center !important;
    width: 100% !important;
}

.dropdown-menu li a {
    font-size: 23px !important;
    margin: 10px;
}

.dropdown-toggle{
    font-size: 25px;
}

.img{
    width: 100px;
    height: 100px;
}

.container-fluid{
    min-height: 130px;
}

.navbar{
    margin-bottom: 0px !important;
}

h1{
    font-size: 36px;
    margin: 48px 0px !important;
}

p.introduction{
    font-size: 30px !important;
} 

.navbar-header{
    position: relative;
    height: 130px;
}

.maintitle{
    float: left;
    font-size: 50px;
    overflow: hidden;
    line-height: 130px;
}



* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Stylish', sans-serif;
    color: #333;
}

body{
    width: 1800px;
    height: 2200px;
    font-size: 25px;
    /* background-image:url(../image/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    /* border: 1px solid red; */
}


a{
    text-decoration: none;
    display: block;
}



.content{
    margin-top: 20px ;
    height: 1580px;
    margin-right: 20px;
    overflow: auto;
    background-image: url(../image/61CPyCIqp+L._AC_SX450_.jpg);
    border-radius: 30px;
    
}

.main_page{
    padding: 10px
}

.main_page h1{
    text-align: center;
    height: 130px;
    line-height: 130px;
    margin-top: 30px;
    font-size: 90px;
    font-weight: bold;
}

.main_page h4{
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

.content_faq {
    margin: 20px;
    padding: 20px;
    background-color: green;
}

.main_page .info li a{
    padding: 20px;
    background-color: blue;
    font-size: 40px;
    font-weight: bold;
}

.hide{
    font-size: 30px;
    padding: 20px;
    text-align: justify;
    background-color: aliceblue;
    /* display: none; */

}

footer{
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    background-color: aliceblue;
    top: 120vh;
}

.footer{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #333;
    height: 100%;
    width: 100%;
    background-color: paleturquoise;
    
}


footer a:hover{
    text-decoration: none;
}

.footer:hover{
    color: #666;
}

.fa-youtube{
    color: red;
}

h4


