@charset "UTF-8";
@font-face {
    font-family: 'MonoplexKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100%;
}
hr{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #2d3a4b !important;
}
.logo{
    float: left;
    margin-left: 50px;
}
.logo img{
    height: 95px;
}
.top_menu{
    float: right;
    width: 280px;
    line-height: 40px;
    color: #fff;
    position: absolute;
    right: 40px;
}
.top_menu li{
    display: inline;
    margin: 0 5px;
}
.top_menu a{
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    font-family: "맑은 고딕";
}
.top_menu a:hover{
    color: #fff;
    text-decoration: underline;
}
.hbg{
    display: none;
    position: absolute;
    right: 0%;
    margin-top: 10px !important;
    margin-right: 15px !important;
}
.search{
    position: absolute;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
}
.search img{
    position: absolute;
    width: 25px;
    height: 29px;
    right: 10px;
    top: 13px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.search img:hover{
    cursor: pointer;
}
.search1{
    height: 27px;
    border-radius: 10px;
    width: 50px;
    color: #000;
}
nav{
    display: inline-block !important;
    position: absolute !important;
    right: 0% !important;
    top: 50% !important;
    font-size: 18px !important;
    color: #fff !important;
}
nav li{
    display: inline !important;
    margin: 0 10px !important;
}
nav li a{
    color: #fff;
    background: none !important;
    transition: .2s;
}
nav li a:hover{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transform: scale(1.1);
}
.box{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 30px;    
}
.box p{
    font-size: 40px;
}
.bx-wrapper{
    width: 90% !important;
}
.bx-viewport{
    height: 500px;
}
.market{
    width: 100%;
    height: 550px;
}
.market_list{
    width: 100%;
}
.market img{
    width: 100%;
    height: 490px;
}
#wrapper{
    margin-bottom: 40px;
}
.bx-next{
    background: url(../resources/images/yys_next.svg) !important;
    opacity: .8;
    margin-right: 10px;
}
.bx-prev{
    background: url(../resources/images/yys_prev.svg)!important;
    opacity: .8;
}
.center{
    margin: 30px 30px;
    margin-right: 30px;
    width: 93%;
    height: 165px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;;
}
.center li{
    font-size: 10px;
}
.center li a:hover{
    opacity: .5;
}
.best1{
    float: left;
    width: 22%;
    height: 18vh;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.best2{
    float: left;
    width: 22%;
    height: 18vh;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.best3{
    float: left;
    width: 22%;
    height: 18vh;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.notice{
    float: left;
    width: 22%;
    height: 18vh;
    margin-left: 25px;
}
.notice_title{
    background: #999;
    vertical-align: middle;
}
.notice_title small{
    margin-top: 4px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    float: right;
}
table{
    table-layout: fixed;
}
tr, td, th{
    font-size: 10px !important;
    white-space:nowrap;
    text-overflow: ellipsis;
}
th{
    margin-right: 10px !important;
    width: 30px;
}
.notice li{
    line-height: 20px;
}
.notice h4{
    font-size: 20px;
}
.notice a{
    font-size: 12px;
    font-family: 'MonoplexKR-Regular';
    color: #000;
}
.notice span{
    float: right;
    color: lightgray;
}
footer{
    width: 100%;
    height: 130px;
    text-align: center;
    position: relative;
    padding: 10px;
    background-color: #e6e6e6;
}
footer p{
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
    line-height: 20px;
}
footer p a{
    color: #000;
}
footer p a:hover{
    font-weight: bold;
    text-decoration: underline;
}
.ftlist{
    margin-right: 10px;
    width: 280px;
    height: 25px;
}
footer li{
    display: inline;
    float: right;
    margin-right: 10px;
}
footer li a{
    font-size: 10px;
    font-family: "맑은 고딕";
    color: #000;
}
@media (min-width: 768px)  and (max-width: 1199px){
    *{
        margin: 0 auto;
        padding: 0;
    }
    header{
        height: 70px;
    }
    nav{
        top: 40% !important;
    }
    .logo img{
        height: 70px;
    }
    .top_menu{
        font-size: 10px !important;
        position: absolute;
    }
    .top_menu ul{
        right: 0;
        margin-left: 50px;
    }
    .top_menu a{
        font-size: 12px;
        float: left;
    }
    nav > ul{
        font-size: 14px;
    }
    nav > ul> li{
        margin: 0 !important;
    }
    nav > ul > a{
        margin: 10px;
    }
    nav li a:hover{
        font-size: 14px;
    }
    .search2{
        width: 40px;
        height: 25px;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        margin-top: 12px;
        margin-left: 5px;
        background: #656e7a;
    }
}
@media (max-width: 767px) {
    *{
        margin: 0 auto;
        padding: 0;
    }
    header{
        height: 50px;
        border: none !important;
    }
    .logo{
        height: 50px;
    }
    .logo a img{
        width: 100px;
        height: 50px !important;
        margin-left: -30px;
    }
    .top_menu{
        margin-right: -40px;
        color: #2d3a4b;
    }
    .top_menu ul{
        width: 300px;
        margin-right: 20px;
    }
    .top_menu a{
        font-size: 12px;
        margin-left: 5px;
        line-height: 50px;
    }
    nav li a{
        background-color: none !important;
        font-size: 12px;
    }
    nav{
        color: #2d3a4be9;
        background: #2d3a4be9;
        border-radius: 0 0 10px 10px;
        z-index: 10;
        width: 150px;
        overflow-x: hidden !important;
        line-height: 0px !important;
        margin-top: 15px;
        border: none !important;
    }
    nav li a:hover{
        font-size: 12px;
        margin-left: 4px;
        font-weight: normal;
    }
    .search img{
        width: 20px;
        height: 15px;
        top: 35px;
        right: -120px;
    }
    .search1{
        position: relative;
        height: 20px !important;
        font-size: 8px;
        margin-left: 10px;
        width: 132px !important;
        margin-top: 10px !important;
        margin-bottom: 5px !important;
    
    }
    .hbg{
        background: none !important;
        border: none !important;
        color: #fff !important;
    }
    .box p{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .search1{
        position: relative;
        height: 20px;
        width: 85px;
        font-size: 8px;
    }
    .search2{
        position: absolute;
        width: 30px !important;
        height: 20px !important;
        font-size: 8px;
    }
    #wrapper img{
        height: 200px;
    }
    .market{
        height: 350px;
    }
    .bx-viewport{
        height: 300px !important;
    }
    .market img{
        width: 100%;
        height: 290px;
    }
    .notice{
        position: absolute;
        right: 3%;
    }
    .notice_title h4{
        font-size: 11px;
        line-height: 17px;
    }
    .notice_title small{
        font-size: 11px;
    }
    .notice ul{
        margin-top: 10px;
    }
    .notice li{
        font-size: 8px;
        line-height: 10px;
    }
    .notice a{
        font-size: .8rem;
        font-family: 'MonoplexKR-Regular';
        color: #000;
    }
    .notice a span{
        visibility: hidden;
    }
    th{
        width: 20px;
    }
    td{
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        word-break: break-all;
    }
    table{
        vertical-align: middle;
    }
    footer{
        visibility: hidden;
    }
   
}
