@charset "UTF-8";
@font-face {
    font-family: 'MonoplexKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
hr{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
#cookie{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 700px;
    height: 300px;
}
#cookie img{
    width: 100%;
    height: 100%;
}
#cookie input{
    vertical-align: middle;
    margin: 0;
}
#cookie button{
    width: 55px;
    height: 25px;
    display: inline-block !important;
    line-height: 15px;
    color: #000;
    vertical-align: middle;
    margin-left: 10px;
}
.closeWrap{
    width: 100%;
    height: 30px;
    padding-right: 20px;
    background: black;
    text-align: right;
    color: #fff;
    vertical-align: middle;
}
.closeWrap label{
    vertical-align: middle;
    margin: 0;
}
header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #2d3a4b !important;
}
.navbar{
    border-radius: 0 !important;
}
.logo{
    float: left;
    margin-left: 50px;
}
.logo img{
    height: 95px;
}
.top_menu{
    float: right;
    width: 250px;
    line-height: 40px;
    color: #fff;
    right: 40px;
}
.top_menu li{
    display: inline;
    margin: 0 5px;
}
.top_menu a{
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    font-family: "맑은 고딕";
}
.top_menu a:hover{
    color: #fff;
    text-decoration: underline;
}
.hbg{
    display: none;
    position: absolute;
    right: 0%;
    margin-top: 10px !important;
    margin-right: 15px !important;
}
.search{
    position: absolute;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
}
.search img{
    position: absolute;
    width: 25px;
    height: 29px;
    right: 10px;
    top: 13px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.search img:hover{
    cursor: pointer;
}
.search1{
    height: 27px;
    border-radius: 10px;
    width: 50px;
    color: #000;
}
nav{
    display: inline-block !important;
    position: absolute !important;
    right: 0% !important;
    top: 50% !important;
    font-size: 18px !important;
    color: #fff !important;
}
nav li{
    display: inline !important;
    margin: 0 10px !important;
}
nav li a{
    color: #fff;
    background: none !important;
    transition: .2s;
}
nav li a:hover{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transform: scale(1.1);
}
.palx{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url(../resources/images/yys_px_shirt.jpg);
    margin-bottom: 100px;
    vertical-align: middle;
    z-index: -1;
}
.palxtext svg{
    vertical-align: top;
    width: 50px;
    margin-right: 20px;
}
.palxtext{
    position: absolute;
    width: 100%;
    vertical-align: middle;
    opacity: 0;
    color: #fff;
    top: 250px;
    text-align: center;
    }
.box{
    display: block;
    width: 100%;
    margin-top: 30px;    
}
.box p{
    font-size: 40px;
}
.bx-wrapper{
    max-width: 90% !important;
}
.bx-viewport{
    height: 600px !important;
}
.market{
    width: 100%;
    height: 650px;
    margin-bottom: 100px;
}
.market_list{
    width: 100%;
}
.market_list img{
    width: 100% !important;
    height: 590px;
}
#wrapper{
    margin-bottom: 40px;
}
.bx-next{
    background: url(../resources/images/yys_next.svg) !important;
    opacity: .8;
    margin-right: 10px;
}
.bx-prev{
    background: url(../resources/images/yys_prev.svg)!important;
    opacity: .8;
}
.banner{
    width: 100%;
    height: 850px;
    margin-bottom: 100px;
    padding: 0 5%;
}
.banner1{
    width: 100%;
    height: 560px;
    padding: 30px;
}
.banner1 p{
    line-height: 500px;
    text-align: center;
    font-size: 40px;
    opacity: .8;
    color: lightskyblue;
}
.banner a:hover{
    opacity: .8;
    text-decoration: none;
}
.cody{
    position: relative;
    float: left;
    width: 49%;
    height: 500px;
    box-shadow: 5px 5px 5px gray;
}
.cody img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.best{
    position: relative;
    float: right;
    width: 49%;
    height: 500px;
    box-shadow: 5px 5px 5px gray;
}
.best img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.banner2{
    width: 100%;
    height: 350px;
    padding-left: 30px;
    padding-right: 30px;
}
.event1{
    position: relative;
    float: left;
    width: 24.5%;
    height: 250px;
    box-shadow: 5px 5px 5px gray;
}
.event1 img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.event2{
    position: relative;
    float: left;
    width: 24.5%;
    height: 250px;
    box-shadow: 5px 5px 5px gray;
}
.event2 img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.event3{
    position: relative;
    float: right;
    width: 24.5%;
    height: 250px;
    box-shadow: 5px 5px 5px gray;
    overflow: hidden;
}
.event3 img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.event4{
    position: relative;
    float: right;
    width: 24.5%;
    height: 250px;
    box-shadow: 0px 5px 5px gray;
}
.event4 img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.stlist{
    display: block;
    text-align: center;
    margin: 50px 50px;
    font-family: 'Noto Sans KR', sans-serif;
    border-top: 2px solid lightgray;
    padding-top: 30px;
    padding: 0 100px;
}
.stlist p{
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif';
}
.stlist li{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 230px;
    margin: 30px 20px 50px;
    border-radius: 15px;
}
.stlist img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition:.2s;
    border-radius: 15px;
}
.stlist img:hover{
    transform:scale(1.05);
    text-decoration: none;
}
.text p{
    margin: 5px 0px;
    font-size: 15px;
    color: #000;
    transition: .2s;
}
.text p:hover{
    transform: scale(1.01);
    text-decoration: underline;
    color: red;
}
footer{
    width: 100%;
    height: 130px;
    text-align: center;
    position: relative;
    padding: 10px;
    background-color: #e6e6e6;
}
footer p{
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
    line-height: 20px;
}
footer p a{
    color: #000;
}
footer p a:hover{
    font-weight: bold;
    text-decoration: underline;
}
.ftlist{
    margin-right: 10px;
    width: 280px;
    height: 25px;
}
footer li{
    display: inline;
    float: right;
    margin-right: 10px;
}
footer li a{
    font-size: 10px;
    font-family: "맑은 고딕";
    color: #000;
}
@media (min-width: 768px)  and (max-width: 1199px){
    *{
        margin: 0 auto;
        padding: 0;
    }
    header{
        height: 70px;
    }
    nav{
        top: 40% !important;
    }
    .logo img{
        height: 70px !important;
    }
    .top_menu{
        position: absolute;
        font-size: 10px !important;
        right: 30px;
        width: 230px;
    }
    .top_menu ul{
        right: 0;
        margin-left: 50px;
    }
    .top_menu a{
        font-size: 12px;
        float: left;
    }
    nav > ul{
        font-size: 14px;
    }
    nav > ul> li{
        margin: 0 !important;
    }
    nav > ul > a{
        margin: 10px;
    }
    nav li a:hover{
        font-size: 14px;
    }
    .search2{
        width: 40px;
        height: 25px;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        margin-top: 12px;
        margin-left: 5px;
        background: #656e7a;
    }
    #cookie{
        width: 600px;
        height: 250px;
        
    }
    #cookie img{
        width: 100%;
        height: 100%;
    }
    #cookie button{
        width: 55px;
        height: 25px;
        border-radius: 5px;
        display: inline-block !important;
        line-height: 15px;
        color: #000;
    }
   .closeWrap{
        height: 25px;
        padding-right: 20px;
        font-size: 12px;
    }
    .palx{
        height: 500px;
        vertical-align: middle;
    }
    .palxtext{
        position: absolute;
        vertical-align: middle;
        width: 100%;
        opacity: 0;
        color: #fff;
        top: 150px;
        text-align: center;
        font-size: 30px !important;
    }
    .owl-carousel{
        height: 400px;
        margin-bottom: 100px !important;
    }
    .owl-carousel img{
        height: 400px;
    }
    .bx-wrapper{
        width: 90% !important;
    }
    .bx-viewport{
        height: 400px !important;
    }
    .market{
        height: 390px;
    }
    .market_list img{
        width: 100%;
        height: 390px;
    }
    .banner{
        height: 600px;
    }
    .banner1{
        height: 350px;
    }
    .banner1 p {
        line-height: 300px;
        font-size: 35px;
    }
    .cody{
        height: 300px;
        box-shadow: 5px 5px 5px gray;
    }
    .best{
        height: 300px;
        box-shadow: 5px 5px 5px gray;
    }
    .event1{
        height: 180px;
    }
    .event2{
        height: 180px;
    }
    .event3{
        height: 180px;
    }
    .event4{
        height: 180px;
    }
    .stlist p{
        font-size: 30px;
    }
    .stlist li{
        width: 150px;
        height: 170px;
        vertical-align: top;
        margin: 30px 15px 50px;
    }
    .text p{
        margin: 5px 0px;
        font-size: 12px;
        color: #000;
    }
}
@media (max-width: 767px) {
    *{
        margin: 0 auto;
        padding: 0;
    }
    header{
        height: 50px;
        border: none !important;
    }
    .logo{
        height: 50px;
    }
    .logo a img{
        width: 100px;
        height: 50px !important;
        margin-left: -30px;
    }
    .top_menu{
        margin-right: -40px;
        color: #2d3a4b;
    }
    .top_menu ul{
        width: 200px;
        margin-right: 20px;
        position: absolute;
        right: 5px;
    }
    .top_menu a{
        font-size: 12px;
        margin-left: 5px;
        line-height: 50px;
    }
    nav li a{
        background-color: none !important;
        font-size: 12px;
    }
    nav{
        color: #2d3a4be9;
        background: #2d3a4be9;
        border-radius: 0 0 10px 10px;
        z-index: 10;
        width: 150px;
        overflow-x: hidden !important;
        line-height: 0px !important;
        margin-top: 15px;
        border: none !important;
    }
    nav li a:hover{
        font-size: 12px;
        margin-left: 4px;
        font-weight: normal;
    }
    .search img{
        width: 20px;
        height: 15px;
        top: 35px;
        right: -120px;
    }
    .search1{
        position: relative;
        height: 20px !important;
        font-size: 8px;
        margin-left: 10px;
        width: 132px !important;
        margin-top: 10px !important;
        margin-bottom: 5px !important;
    }
    #cookie{
        width: 400px;
        height: 150px;
    }
    #cookie label{
        vertical-align: middle;
    }
    #cookie input{
        vertical-align: middle;
    }
    #cookie img{
        width: 100%;
        height: 100%;
    }
    #cookie button{
        width: 40px;
        height: 20px;
        border-radius: 5px;
        vertical-align: middle;
    }
   .closeWrap{
        height: 20px;
        padding-right: 20px;
        font-size: 10px;
        vertical-align: middle;
    }
    .hbg{
        background: none !important;
        border: none !important;
        color: #fff !important;
    }
    .box p{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .palx{
        height: 300px;
    }
    .palxtext{
        position: absolute;
        width: 100%;
        opacity: 0;
        color: #fff;
        top: 120px;
        text-align: center;
        font-size: 15px !important;
    }
    .palxtext svg{
        vertical-align: middle;
        width: 30px;
        margin-right: 10px;
    }
    .search1{
        position: relative;
        height: 20px;
        width: 85px;
        font-size: 8px;
    }
    .search2{
        position: absolute;
        width: 30px !important;
        height: 20px !important;
        font-size: 8px;
    }
    #wrapper img{
        height: 200px;
    }
    .market{
        height: 230px;
        margin-bottom: 50px;
    }
    .bx-viewport{
        height: 230px !important;
    }
    .market img{
        width: 100%;
        height: 220px;  
    }
    .banner{
        height: 450px;
    }
    .banner1{
        height: 280px;
    }
    .banner1 p {
        line-height: 220px;
        text-align: center;
        font-size: 20px;
        opacity: .8;
        color: lightskyblue;
    }
    .cody{
        height: 220px;
        box-shadow: 5px 5px 5px gray;
    }
    .best{
        height: 220px;
        box-shadow: 5px 5px 5px gray;
    }
    .banner2{
        height: 130px;
    }
    .event1{
        height: 130px;
    }
    .event2{
        height: 130px;
    }
    .event3{
        height: 130px;
    }
    .event4{
        height: 130px;
    }
    .stlist{
        margin: 0 20px;
        padding: 0;
    }
    .stlist p{
        font-size: 20px;
    }
    .stlist h1{
        font-size: 30px;
    }
    .stlist li{
        width: 80px;
        height: 100px;
        vertical-align: top;
        margin: 30px 10px 50px;
    }
    .text p{
        margin: 5px 0px;
        font-size: 10px;
        color: #000;
    }
    footer{
        visibility: hidden;
    }
   
}
